table {
    border-spacing: 0;
  }
  
  th {
    background-color: blue;
    font-weight: bold;
    color: lightgrey;
    text-align: center;
    padding: 5px;
  }
  
  td {
    border-top: 1px solid darkgrey;
    padding: 5px;
  }
  
  tr:hover {
    background-color: lightgrey;
  }
  
  div {
    font-weight: bold;
    color: black;
    padding:5px;
  }
  body{
    background-image: url('https://img.freepik.com/free-vector/soft-yellow-watercolor-texture-background_1055-10236.jpg?w=1060&t=st=1683707715~exp=1683708315~hmac=6326f019d547679f10bce035e14cd72a439a304cf659b7af381231be6992e92a');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
   
  }
  
  
  