include ./list-item
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Students 
        // link <tab>
        link(rel="stylesheet" href="/style.css") 
      

        div ข้อมูลนักศึกษา

    table 
        th Id
        th Title
        th Grade
        
        th 
    
        th 
        - for(let student of students)
          +listItem(student)
    a(href="/student/form") new

    body